<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <title>Taco Cloud</title>
</head>
<body>
<h1>Register</h1>
<img th:src="@{/images/TacoCloud.png}"/>
<form method="POST" th:action="@{/register}" th:object="${registerForm}">
    <div>
    <label for="username">Username: </label>
    <input type="text" th:field="*{username}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}">username error</span><br>
    </div>
    <div>
    <label for="password">Password: </label>
    <input type="password" th:field="*{password}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}">password error</span><br>
    </div>
<!--    <label for="confirm">Confirm password: </label>-->
<!--    <input type="password" name="confirm"/><br/>-->
<div>
    <label for="fullname">Full name: </label>
    <input type="text" th:field="*{fullname}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('fullname')}"
          th:errors="*{fullname}">ingredients error</span><br>
</div>
    <label for="street">Street: </label>
    <input type="text" th:field="*{street}"/><br/>
    <label for="city">City: </label>
    <input type="text" th:field="*{city}"/><br/>
    <label for="state">State: </label>
    <input type="text" th:field="*{state}"/><br/>
    <label for="zip">Zip: </label>
    <input type="text" th:field="*{zip}"/><br/>
    <label for="phone">Phone: </label>
    <input type="text" th:field="*{phone}"/><br/>

    <input type="submit" value="Register"/>

    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

</form>
</body>
</html>